@charset "utf-8";

:root {
  --color1: #FFA45B;
  --color11: #F9957F;
  --color2: #FFDA77;
  --color3: #FBF6F0;
  --color4: #AEE6E6;
  --text-color: #000;
  --bg-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--color3);
  width: 100vw;
  overflow: hidden;
  font-size: 25px;
}

#main-container {
  background-color: var(--color3);
  flex-grow: 2;
  height: 100vh;
  overflow-y: scroll;

  scroll-behavior: smooth;
  /*margin-right: -2%;*/

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#main-container::-webkit-scrollbar {
  display: none;
}

.section {
  min-height: 100%;
  border: dotted 1px;
}

.banner {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--color2);
  background-position: 20%;
  display: flex;
  height: inherit;
  flex-direction: column;
}

.banner > #title-banner,
.banner > div {
  position: relative;
  border-width: 1px 0 0 0;
  border-color: rgba(230, 232, 233, 0.2);
  border-style: solid;
}

.banner > div:first-of-type {
  order: -1;
  flex-grow: 2;
  padding: 0;
}

.banner>div {
  flex-basis: 10%;
}

.banner>div:nth-of-type(2) {
  background: rgba(0, 0, 0, 0.2);
}

.banner>*:before {
  content: "";
  position: absolute;
  border-width: 0 1px 0;
  border-color: rgba(230, 232, 233, 0.2);
  border-style: solid;
  height: 100%;
  width: 40%;
  left: 20%;
}

#title-banner {
  font-family: "Tangerine", cursive;
  font-weight: 300;
  font-size: 6rem;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  position: relative;
  padding-left: 20%;
  color: whitesmoke;
  text-shadow: 0 0 5px #000, 1px 1px 4px var(--color1), -1px -1px 3px var(--color2);
  flex-grow: 3;
  margin: 0;
  border-bottom-width: 0
}

.hambuger-mobile,
.hambuger-icon {
  top: 2vh;
  left: 2vw;
  position: fixed;
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.hambuger-icon {
  z-index: 998;
  transition: transform 500ms ease;
}

.hambuger-mobile {
  z-index: 999;
  opacity: 0;
}

.hambuger-mobile:checked~.hambuger-icon {
  transform: rotate(400deg);
}

.hambuger-mobile:checked~.top-nav {
  width: 80%;
  transition: width 1s ease-out;
}

.hambuger-mobile:checked~.top-nav .nav-link {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear 250ms;
}

.navbar {
  position: fixed;
  z-index: 997;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  list-style-type: none;
}

.navbar .nav-link {
  display: inline-block;
}

.top-nav {
  top: 0;
  width: 0;
  text-align: center;
  background-color: var(--color3);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  transition: width 500ms ease-in;
  height: 100vh;
}

.top-nav .nav-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 5%;
  visibility: hidden;
  opacity: 0;
  padding: 15px 0;
  transition: opacity 500ms ease-in-out, visibility 0s linear 500ms;
}

.section-presentation,
.info-extra {
  padding: 5%;
}

@media (min-width: 700px) {
  body {
    font-size: 16px;
  }

  .banner {
    background-position: right 35% bottom 45%;
  }
  .hambuger-menu,
  .hambuger-icon {
    display: none;
  }
  .top-nav {
    width: 100%;
    transition: none;
    height: unset;
  }

  .top-nav .nav-link {
    opacity: 1;
    visibility: visible;
  }

  .top-nav li {
    display: inline-block;
    margin: 0 10px;
  }

  .sidebar-nav {
    top: calc(50% - 65px);
    right: 5%;
    width: 20px;
    height: 130px;
  }

  .sidebar-nav .nav-link {
    width: 10px;
    height: 10px;
    margin: 10px 0;
    background-color: var(--color4);
    border-radius: 50%;
    font-size: 0px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    position: relative;
  }

  .sidebar-nav .nav-link:hover:before {
    content: attr(href);
    font-size: .8rem;
    position: absolute;
    top: -20px;
    left: 0;
  }

  #clock-deadline {
    padding-left: 20%;
    width: 60%;
  }

  .section-presentation,
  .info-extra {
    display: flex;
  }

  .pictures {
    transform: translateX(40%);
    opacity: 0;
  }

  .presentation,
  .infos {
    transform: translateY(250px);
    opacity: 0;
    transition: all ease 1.5s;
  }

  .portrait {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .animate .presentation,
  .animate .infos {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.5s ease-in, transform 1s ease-out;
  }

  .animate .pictures {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 1.5s ease-in, transform 1s ease-out;
    transition-delay: 300ms;
  }

  .animate .pictures:nth-of-type(2n) {
    transition-delay: 600ms;
  }
}

#clock-deadline {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.countdown-col {
  display: inline-grid;
  text-shadow: 0 0 5px black;
}

.countdown-numbers {
  display: inline-block;
  background-color: #000;
  font-size: 3rem;
  position: relative;
  border-radius: 5px;
  margin: 5%;
}

.countdown-numbers:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: whitesmoke;
  top: 50%;
  left: 0;
  width: 100%;
}

.heading {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: var(--red);
}

.presentation,
.infos {
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 0.7rem;
}

.pictures {
  width: 100%;
}

.main-footer {
  background-image: linear-gradient(to right bottom, #F2F5D0, #F9957F 80%);
  height: 40%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  white-space: pre-line;
  color: snow;
  text-shadow: 1px 1px 4px #000, -1px -1px 2px #fff,
    0 0 5px var(--color4), 2px 2px 3px #f00,
    0 0 5px var(--color1), -2px -2px 4px green,
    0 0 5px #000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  border-left: 2px solid;
  border-bottom: 2px solid;
  animation: spinning 0.5s infinite ease-out;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}